:root {
    --font-family-default: Verdana, Geneva, Tahoma, sans-serif;
    --font-size-default: 62.5%;
    --color-palette-01: #FFFFFF;
    --color-palette-02: #212121;
    --color-palette-03: #808080;
    --color-palette-04: #FF4D4F;
    --color-palette-05: #52C41A;
    --color-palette-06: #007BFF;
    --color-palette-07: #3398FF;
    --spacing-default-01: 0.5rem;
    --spacing-default-02: 1rem;
    --spacing-default-03: 1.5rem;
    --spacing-default-04: 2rem;
}
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: var(--font-family-default);
    text-transform: uppercase;
}
html {
    font-size: var(--font-size-default);
}
body {
    color: var(--color-palette-01);
    background: var(--color-palette-02);
}
body, header, main, form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header {
    flex-direction: row;
}
header div {
    width: 50%;
}
header div, main {
    padding: var(--spacing-default-04);
}
h1 {
    font-size: var(--spacing-default-04);
    margin-bottom: var(--spacing-default-04);
}
a {
    font-size: var(--spacing-default-02);
    text-decoration: none;
    list-style: none;
    color: inherit;
}
button, a, input, .btn {
    cursor: pointer;
}
label, input {
    font-size: var(--spacing-default-02);
    font-weight: bolder;
}
input {
    width: 100%;
    padding: var(--spacing-default-02);
}
.header-container {
    width: 100%;
    height: auto;
    border-bottom: solid 0.2rem var(--color-palette-03);
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.align-center {
    display: flex;
    align-items: center;
}
.flex-end {
    display: flex;
    justify-content: end;
}
.btn {
    margin: 0 var(--spacing-default-01);
    padding: var(--spacing-default-02) var(--spacing-default-04);
    font-size: var(--spacing-default-02);
    font-weight: bolder;
    color: var(--color-palette-01);
    background: var(--color-palette-03);
}
.message {
    margin: var(--spacing-default-03);
    font-size: var(--spacing-default-02);
    text-align: center;
}
.error-message {
    color: var(--color-palette-04);
}
.success-message {
    color: var(--color-palette-05);
}
.form-container {
    width: 60%;
    padding: var(--spacing-default-04);
    border: solid 0.2rem var(--color-palette-03);
}
.field-container {
    width: 100%;
    padding: var(--spacing-default-02);
    white-space: nowrap;
}
.right-spacing {
    margin-right: var(--spacing-default-02);
}
.file-input {
    display: none;
}
.videos-container {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    gap: var(--spacing-default-04);
}
.video-item img {
    width: 100%;
}
.video-container iframe {
    width: 100%;
    height: 20rem;
}
.video-description {
    padding: var(--spacing-default-02);
}
.video-actions {
    margin: var(--spacing-default-02) 0;
}
.video-actions a {
    margin-right: var(--spacing-default-01);
    text-decoration: none;
    font-weight: bold;
    color: var(--color-palette-06);
}
.video-actions a:hover {
    color: var(--color-palette-07);
}
@media (max-width: 1200px) {
    body {
        display: none;
    }
}